.everything-container {
  display: flex;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-label {
  color: #000;
}
.contact-me {
  color: #000;
}
@media (max-width: 600px) {
  .everything-container {
    flex-direction: column;
    margin: 5%;
  }
}
@media (min-width: 1000px) {
  .everything-container {
    margin-left: 15%;
    margin-top: 10%;
  }
  .contact-me {
    width: 750px;
  }
  .form-container {
    margin-left: 2%;
    width: 400px;
  }
}
